body {
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}

h1, h2, h3 {
    font-family: Asap, sans-serif;
    color: #000000;
}

.botao {
    color: #191970;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #FFFFFF;
    font-size: .9em;
    border-radius: 3px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}

nav>a {
    text-decoration: none;
    color: #551A8B;
    font-weight: 800;
    font-size: 32px;
    font-family: YellowTail, serif;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("camera.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: #FFFFFF;
}

header p {
    margin-bottom: 2em;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #FFFFFF;
}

#sobre h2 {
    color: #ffffff;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre botao {
    background-color: #f1f1f1;
    color: #1c1c1c;
}

#serviço {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#serviço div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#fotos h2 {
    margin-bottom: 20px;
}

#fotos img {
    width: 100%;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contato h2 {
    color: #000000;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: #FFFFFF;
}

footer a {
    text-decoration: none;
    color: #00FFFF;
}

@media screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul {
        flex-direction: row;
        width: 70%;
    }
    header {
        height: 60px;
        height: 60vh;
        justify-content: center;
    }
    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
    #serviço {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
}

#serviço h2 {
    text-align: center;
    width: 100%;
}

#serviço div {
    flex-grow: 1;
    flex-basis: 150px;
    padding: 0 10px;
}

#fotos {
    flex-direction: row;
    flex-wrap: wrap;
}

#fotos h2 {
    width: 100%;
    text-align: center;
}

#fotos img {
    width: 33.3333333%;

}

#contato {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
}

#contato h2, #contato p {
    width: 100%;
}